/*________________________________________________________________________________________
BASE STYLES
_________________________________________________________________________________________*/

body,
button,
input,
textarea {
  color: black;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

body {
  background-color: #ededed;
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

header,
footer {
  background-color: black;
  height: 100px;
}

.sidebar-right {
  background-color: blue;
  color: #fff;
}

h1 {
  color: red;
  margin: 0;
}

p {
  margin: 0;
}

@media screen and (min-width: 1120px) {
  .content-area {
    display: flex;
  }

  .sidebar-right {
    flex: 0 0 320px;
  }
}
/*________________________________________________________________________________________
HEADER_________________________________________________________________________________________*/

.site-header {
  height: 400px;
  display: flex;
  flex-flow: column;
}

.site-info {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.site-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.site-desc {
  text-align: center;
  color: #f6d200;
  font-size: 1.2rem;
  margin-top: -0.8;
  font-style: italic;
}

.main-menu {
  padding: 1rem 1rem;
  background-color: #f6d200;
  color: black;
}

@media screen and (min-width: 1120px) {
  .site-title {
    font-size: 4rem;
  }
}
/*_______________________________POSTS_________________________________________________________________*/

.main-content-area {
  padding: 2rem;
}

.post {
  background-color: #fff;
  margin-bottom: 1rem;
}

.post a {
  color: black;
  text-decoration: none;
}

.post-content {
  padding: 0 40px 20px;
}

.post-content h2 {
  background-color: #f6d200;
  color: black;
  padding: 20px;
  text-align: center;
  margin: 0 -40px 30px;
}

/* medium size screens */
@media screen and (min-width: 810px) {
  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post {
    flex-basis: 49%;
  }
}

@media screen and (min-width: 1120px) {
  .post-one-third {
    flex-basis: 32%;
  }
  .post-half {
    flex-basis: 49%;
  }
  .post-full {
    flex-basis: 100%;
  }
}

/*_______________________________WATCH_________________________________________________________________*/

.section-header {
  color: black;
  font-size: 3rem;
  text-align: center;
}

.watch-card {
  margin-bottom: 1rem;
}

.watch-content {
  background-color: black;
  color: #fff;
  padding: 3rem;
}

.watch-content h2 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}

.movie-info {
  font-weight: bold;
}

.movie-info span {
  font-weight: bold;
  padding-right: 1.5rem;
}

.movie-story {
  margin: 1rem 0;
}

.watch-content a {
  color: #fff;
  font-weight: bold;
}

@media screen and (min-width: 810px) {
  .watch-card {
    display: flex;
  }

  .watch-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .img-right {
    order: 2;
  }
}
